@using WebBlog.Contracts.Models.Request.Article;
@model EditArticleRequest

@{
    ViewData["Title"] = "Статьи";
}


<br />
<h2>Редактирование статьи</h2>
<hr />

<div class="row">
    <form id="profile-form" method="post">
        <div>
            @for (var i = 0; i < Model.Tags.Count; i++)
            {
                <div style="display: inline-block; margin-right: 20px;">
                    <input type="hidden" asp-for="@Model.Tags[i].TagId" />
                    <input type="hidden" asp-for="@Model.Tags[i].Name" />
                    <input type="checkbox" asp-for="@Model.Tags[i].IsTagSelected" />
                    <label>&nbsp;@Model.Tags[i].Name </label>
                </div>
            }
        </div>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="@Model.AuthorId" class="form-control" type="hidden" />
        <input asp-for="@Model.ArticleId" class="form-control" type="hidden" />
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control" style="height:150px;"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
        </div>
    </form>
</div>




